/*
 * Icon Font FormaIcons
 * Made with love by Icons8 [ https://icons8.com/ ] using FontCustom [ https://github.com/FontCustom/fontcustom ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */

@font-face {
	font-family: 'FormaIcons';
	src: url('FormaIcons.eot?v8.5');
	src: url('FormaIcons.eot?#iefix&v8.5') format('embedded-opentype'), url('FormaIcons.woff2?v8.5') format('woff2'),
		url('FormaIcons.woff?v8.5') format('woff'), url('FormaIcons.ttf?v8.5') format('truetype'),
		url('FormaIcons.svg#FormaIcons&v8.5') format('svg');
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	@font-face {
		font-family: 'FormaIcons';
		src: url('FormaIcons.svg#FormaIcons&v8.5') format('svg');
	}
}

[data-icons8]:before {
	content: attr(data-icons8);
}

.icons8,
[data-icons8]:before,
.icons8-120-degrees:before,
.icons8-150-degrees:before,
.icons8-180-degrees:before,
.icons8-210-degrees:before,
.icons8-240-degrees:before,
.icons8-270-degrees:before,
.icons8-30-degrees:before,
.icons8-300-degrees:before,
.icons8-330-degrees:before,
.icons8-60-degrees:before,
.icons8-90-degrees:before,
.icons8-about:before,
.icons8-accounting:before,
.icons8-active-directory:before,
.icons8-add-file:before,
.icons8-add-list:before,
.icons8-add-property:before,
.icons8-add-row:before,
.icons8-add-user-group-man-man:before,
.icons8-administrative-tools:before,
.icons8-advance:before,
.icons8-alarm-add:before,
.icons8-alarm-off:before,
.icons8-alarm-on:before,
.icons8-answers:before,
.icons8-ask-question:before,
.icons8-attach:before,
.icons8-ball-point-pen:before,
.icons8-bar-chart:before,
.icons8-bill:before,
.icons8-bill-2:before,
.icons8-blind-up:before,
.icons8-brochure:before,
.icons8-brush:before,
.icons8-bulleted-list:before,
.icons8-business:before,
.icons8-business-contact:before,
.icons8-calendar:before,
.icons8-cancel:before,
.icons8-cancel-2:before,
.icons8-cancel-subscription:before,
.icons8-change-user-male:before,
.icons8-chat:before,
.icons8-chat-filled:before,
.icons8-check-file:before,
.icons8-checked:before,
.icons8-checked-checkbox-2:before,
.icons8-circled-left-2:before,
.icons8-circled-right-2:before,
.icons8-circled-user-male:before,
.icons8-clear-filters:before,
.icons8-clock:before,
.icons8-close-window:before,
.icons8-closed-topic:before,
.icons8-cloud:before,
.icons8-collaboration:before,
.icons8-collage:before,
.icons8-collect:before,
.icons8-combo-chart:before,
.icons8-comment:before,
.icons8-comment-active:before,
.icons8-conference-call:before,
.icons8-connection-sync:before,
.icons8-copy:before,
.icons8-course-assign:before,
.icons8-csv:before,
.icons8-date-to:before,
.icons8-delete:before,
.icons8-delete-file:before,
.icons8-delete-link:before,
.icons8-delete-message:before,
.icons8-delete-property:before,
.icons8-delete-row:before,
.icons8-deleted-message:before,
.icons8-double-left:before,
.icons8-double-right:before,
.icons8-download:before,
.icons8-download-from-the-cloud:before,
.icons8-drag-list-down:before,
.icons8-drag-list-up:before,
.icons8-edit:before,
.icons8-edit-property:before,
.icons8-edit-user-male:before,
.icons8-employee-card:before,
.icons8-event-accepted:before,
.icons8-event-accepted-tentatively:before,
.icons8-event-declined:before,
.icons8-external-link:before,
.icons8-external-link-2:before,
.icons8-favorite-file:before,
.icons8-feedback:before,
.icons8-file:before,
.icons8-filing-cabinet:before,
.icons8-filter:before,
.icons8-find-user-male:before,
.icons8-fit-to-width:before,
.icons8-flag-2:before,
.icons8-full-moon-filled:before,
.icons8-grid:before,
.icons8-group-message:before,
.icons8-group-of-questions:before,
.icons8-hard-to-find:before,
.icons8-help:before,
.icons8-high-importance:before,
.icons8-high-importance-2:before,
.icons8-horizontal-settings-mixer:before,
.icons8-ic-eye:before,
.icons8-id-card:before,
.icons8-id-not-verified:before,
.icons8-id-verified:before,
.icons8-incoming-data:before,
.icons8-info:before,
.icons8-invite:before,
.icons8-joining-queue:before,
.icons8-last-24-hours:before,
.icons8-last-24-hours-filled:before,
.icons8-leaving-queue:before,
.icons8-left:before,
.icons8-like:before,
.icons8-like-active:before,
.icons8-line-chart:before,
.icons8-link:before,
.icons8-low-importance:before,
.icons8-map-editing:before,
.icons8-map-marker:before,
.icons8-mark-as-favorite:before,
.icons8-medium-priority:before,
.icons8-menu:before,
.icons8-merge-horizontal:before,
.icons8-merge-vertical:before,
.icons8-message:before,
.icons8-minus:before,
.icons8-module:before,
.icons8-more:before,
.icons8-ms-excel:before,
.icons8-ms-outlook:before,
.icons8-ms-word:before,
.icons8-my-topic:before,
.icons8-new-moon-filled:before,
.icons8-new-post:before,
.icons8-no-reminders:before,
.icons8-numbered-list:before,
.icons8-open-file-under-cursor:before,
.icons8-org-unit:before,
.icons8-outgoing-data:before,
.icons8-outline:before,
.icons8-overtime:before,
.icons8-paper-plane:before,
.icons8-paralell-workflow:before,
.icons8-parallel-tasks:before,
.icons8-password:before,
.icons8-paste-special:before,
.icons8-pdf:before,
.icons8-phone-disconnected:before,
.icons8-pie-chart:before,
.icons8-pin:before,
.icons8-pin-2:before,
.icons8-plus:before,
.icons8-poll-topic:before,
.icons8-popular-topic:before,
.icons8-post-office:before,
.icons8-print:before,
.icons8-quest:before,
.icons8-question:before,
.icons8-questions:before,
.icons8-queue:before,
.icons8-quote:before,
.icons8-rating:before,
.icons8-reading-confirmation:before,
.icons8-recurring-appointment:before,
.icons8-redo:before,
.icons8-remove-user-male:before,
.icons8-renew-subscription:before,
.icons8-reply:before,
.icons8-report-card:before,
.icons8-response:before,
.icons8-right:before,
.icons8-rotate-left:before,
.icons8-rotate-right:before,
.icons8-scan-stock:before,
.icons8-search:before,
.icons8-search-property:before,
.icons8-security-checked:before,
.icons8-services:before,
.icons8-settings:before,
.icons8-shuffle:before,
.icons8-signature:before,
.icons8-sms:before,
.icons8-sms-2:before,
.icons8-sort:before,
.icons8-sort-down:before,
.icons8-sort-left:before,
.icons8-sort-right:before,
.icons8-sort-up:before,
.icons8-star:before,
.icons8-star-2:before,
.icons8-switch:before,
.icons8-talk-male:before,
.icons8-tasks:before,
.icons8-timeline:before,
.icons8-today:before,
.icons8-todo-list:before,
.icons8-topic:before,
.icons8-topic-moved:before,
.icons8-track-order:before,
.icons8-track-order-filled:before,
.icons8-tree-structure:before,
.icons8-tree-structure-2:before,
.icons8-undo:before,
.icons8-unfriend-male:before,
.icons8-unknown-status:before,
.icons8-unpin-2:before,
.icons8-up-right:before,
.icons8-upload:before,
.icons8-urgent-message:before,
.icons8-user:before,
.icons8-user-folder:before,
.icons8-user-group-man-man:before,
.icons8-user-group-man-man-2:before,
.icons8-user-groups:before,
.icons8-vertical-settings-mixer:before,
.icons8-very-popular-topic:before,
.icons8-video-file:before,
.icons8-video-message:before,
.icons8-voice-presentation:before,
.icons8-why-us-male:before,
.icons8-workflow:before,
.icons8-zip:before,
.ffi {
	display: inline-block;
	font-family: 'FormaIcons' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	text-decoration: inherit;
	text-rendering: optimizeLegibility;
	text-transform: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.icons8-120-degrees:before {
	content: '\f100';
}
.icons8-150-degrees:before {
	content: '\f101';
}
.icons8-180-degrees:before {
	content: '\f102';
}
.icons8-210-degrees:before {
	content: '\f103';
}
.icons8-240-degrees:before {
	content: '\f104';
}
.icons8-270-degrees:before {
	content: '\f105';
}
.icons8-30-degrees:before {
	content: '\f106';
}
.icons8-300-degrees:before {
	content: '\f107';
}
.icons8-330-degrees:before {
	content: '\f108';
}
.icons8-60-degrees:before {
	content: '\f109';
}
.icons8-90-degrees:before {
	content: '\f10a';
}
.icons8-about:before {
	content: '\f1b4';
}
.icons8-accounting:before {
	content: '\f10b';
}
.icons8-active-directory:before {
	content: '\f198';
}
.icons8-add-file:before {
	content: '\f10c';
}
.icons8-add-list:before {
	content: '\f10d';
}
.icons8-add-property:before {
	content: '\f12d';
}
.icons8-add-row:before {
	content: '\f10e';
}
.icons8-add-user-group-man-man:before {
	content: '\f176';
}
.icons8-administrative-tools:before {
	content: '\f10f';
}
.icons8-advance:before {
	content: '\f186';
}
.icons8-alarm-add:before {
	content: '\f1e6';
}
.icons8-alarm-off:before {
	content: '\f1e5';
}
.icons8-alarm-on:before {
	content: '\f1e4';
}
.icons8-answers:before {
	content: '\f1ab';
}
.icons8-ask-question:before {
	content: '\f190';
}
.icons8-attach:before {
	content: '\f110';
}
.icons8-ball-point-pen:before {
	content: '\f111';
}
.icons8-bar-chart:before {
	content: '\f112';
}
.icons8-bill:before {
	content: '\f113';
}
.icons8-bill-2:before {
	content: '\f114';
}
.icons8-blind-up:before {
	content: '\f115';
}
.icons8-brochure:before {
	content: '\f1ee';
}
.icons8-brush:before {
	content: '\f197';
}
.icons8-bulleted-list:before {
	content: '\f116';
}
.icons8-business:before {
	content: '\f117';
}
.icons8-business-contact:before {
	content: '\f118';
}
.icons8-calendar:before {
	content: '\f119';
}
.icons8-cancel:before {
	content: '\f11a';
}
.icons8-cancel-2:before {
	content: '\f11b';
}
.icons8-cancel-subscription:before {
	content: '\f1ad';
}
.icons8-change-user-male:before {
	content: '\f11c';
}
.icons8-chat:before {
	content: '\f11d';
}
.icons8-chat-filled:before {
	content: '\f18f';
}
.icons8-check-file:before {
	content: '\f11e';
}
.icons8-checked:before {
	content: '\f11f';
}
.icons8-checked-checkbox-2:before {
	content: '\f1ca';
}
.icons8-circled-left-2:before {
	content: '\f120';
}
.icons8-circled-right-2:before {
	content: '\f121';
}
.icons8-circled-user-male:before {
	content: '\f122';
}
.icons8-clear-filters:before {
	content: '\f134';
}
.icons8-clock:before {
	content: '\f123';
}
.icons8-close-window:before {
	content: '\f1f4';
}
.icons8-closed-topic:before {
	content: '\f16b';
}
.icons8-cloud:before {
	content: '\f17e';
}
.icons8-collaboration:before {
	content: '\f19a';
}
.icons8-collage:before {
	content: '\f1ae';
}
.icons8-collect:before {
	content: '\f185';
}
.icons8-combo-chart:before {
	content: '\f1af';
}
.icons8-comment:before {
	content: '\f200';
}
.icons8-comment-active:before {
	content: '\f1ff';
}
.icons8-conference-call:before {
	content: '\f199';
}
.icons8-connection-sync:before {
	content: '\f1a9';
}
.icons8-copy:before {
	content: '\f124';
}
.icons8-course-assign:before {
	content: '\f1ed';
}
.icons8-csv:before {
	content: '\f1cf';
}
.icons8-date-to:before {
	content: '\f196';
}
.icons8-delete:before {
	content: '\f125';
}
.icons8-delete-file:before {
	content: '\f1a4';
}
.icons8-delete-link:before {
	content: '\f1a7';
}
.icons8-delete-message:before {
	content: '\f17f';
}
.icons8-delete-property:before {
	content: '\f12c';
}
.icons8-delete-row:before {
	content: '\f126';
}
.icons8-deleted-message:before {
	content: '\f183';
}
.icons8-double-left:before {
	content: '\f127';
}
.icons8-double-right:before {
	content: '\f128';
}
.icons8-download:before {
	content: '\f1fb';
}
.icons8-download-from-the-cloud:before {
	content: '\f1bc';
}
.icons8-drag-list-down:before {
	content: '\f12a';
}
.icons8-drag-list-up:before {
	content: '\f129';
}
.icons8-edit:before {
	content: '\f1f3';
}
.icons8-edit-property:before {
	content: '\f12b';
}
.icons8-edit-user-male:before {
	content: '\f178';
}
.icons8-employee-card:before {
	content: '\f12f';
}
.icons8-event-accepted:before {
	content: '\f1b8';
}
.icons8-event-accepted-tentatively:before {
	content: '\f1b9';
}
.icons8-event-declined:before {
	content: '\f1ba';
}
.icons8-external-link:before {
	content: '\f1a6';
}
.icons8-external-link-2:before {
	content: '\f1b0';
}
.icons8-favorite-file:before {
	content: '\f1a5';
}
.icons8-feedback:before {
	content: '\f131';
}
.icons8-file:before {
	content: '\f1d5';
}
.icons8-filing-cabinet:before {
	content: '\f132';
}
.icons8-filter:before {
	content: '\f133';
}
.icons8-find-user-male:before {
	content: '\f19c';
}
.icons8-fit-to-width:before {
	content: '\f135';
}
.icons8-flag-2:before {
	content: '\f1ea';
}
.icons8-full-moon-filled:before {
	content: '\f136';
}
.icons8-grid:before {
	content: '\f137';
}
.icons8-group-message:before {
	content: '\f138';
}
.icons8-group-of-questions:before {
	content: '\f1b1';
}
.icons8-hard-to-find:before {
	content: '\f139';
}
.icons8-help:before {
	content: '\f1b2';
}
.icons8-high-importance:before {
	content: '\f13a';
}
.icons8-high-importance-2:before {
	content: '\f1f7';
}
.icons8-horizontal-settings-mixer:before {
	content: '\f13b';
}
.icons8-ic-eye:before {
	content: '\f202';
}
.icons8-id-card:before {
	content: '\f130';
}
.icons8-id-not-verified:before {
	content: '\f13d';
}
.icons8-id-verified:before {
	content: '\f13e';
}
.icons8-incoming-data:before {
	content: '\f188';
}
.icons8-info:before {
	content: '\f1b3';
}
.icons8-invite:before {
	content: '\f1b7';
}
.icons8-joining-queue:before {
	content: '\f19e';
}
.icons8-last-24-hours:before {
	content: '\f1e7';
}
.icons8-last-24-hours-filled:before {
	content: '\f1e8';
}
.icons8-leaving-queue:before {
	content: '\f19b';
}
.icons8-left:before {
	content: '\f13f';
}
.icons8-like:before {
	content: '\f206';
}
.icons8-like-active:before {
	content: '\f205';
}
.icons8-line-chart:before {
	content: '\f140';
}
.icons8-link:before {
	content: '\f1bb';
}
.icons8-low-importance:before {
	content: '\f141';
}
.icons8-map-editing:before {
	content: '\f1a1';
}
.icons8-map-marker:before {
	content: '\f1a0';
}
.icons8-mark-as-favorite:before {
	content: '\f1a3';
}
.icons8-medium-priority:before {
	content: '\f1f1';
}
.icons8-menu:before {
	content: '\f142';
}
.icons8-merge-horizontal:before {
	content: '\f143';
}
.icons8-merge-vertical:before {
	content: '\f144';
}
.icons8-message:before {
	content: '\f145';
}
.icons8-minus:before {
	content: '\f146';
}
.icons8-module:before {
	content: '\f17b';
}
.icons8-more:before {
	content: '\f187';
}
.icons8-ms-excel:before {
	content: '\f147';
}
.icons8-ms-outlook:before {
	content: '\f148';
}
.icons8-ms-word:before {
	content: '\f149';
}
.icons8-my-topic:before {
	content: '\f16c';
}
.icons8-new-moon-filled:before {
	content: '\f14a';
}
.icons8-new-post:before {
	content: '\f14b';
}
.icons8-no-reminders:before {
	content: '\f1f6';
}
.icons8-numbered-list:before {
	content: '\f14c';
}
.icons8-open-file-under-cursor:before {
	content: '\f1ec';
}
.icons8-org-unit:before {
	content: '\f14d';
}
.icons8-outgoing-data:before {
	content: '\f184';
}
.icons8-outline:before {
	content: '\f1cb';
}
.icons8-overtime:before {
	content: '\f14e';
}
.icons8-paper-plane:before {
	content: '\f181';
}
.icons8-paralell-workflow:before {
	content: '\f17c';
}
.icons8-parallel-tasks:before {
	content: '\f14f';
}
.icons8-password:before {
	content: '\f150';
}
.icons8-paste-special:before {
	content: '\f1c5';
}
.icons8-pdf:before {
	content: '\f151';
}
.icons8-phone-disconnected:before {
	content: '\f1aa';
}
.icons8-pie-chart:before {
	content: '\f152';
}
.icons8-pin:before {
	content: '\f1f8';
}
.icons8-pin-2:before {
	content: '\f1c8';
}
.icons8-plus:before {
	content: '\f153';
}
.icons8-poll-topic:before {
	content: '\f16d';
}
.icons8-popular-topic:before {
	content: '\f18c';
}
.icons8-post-office:before {
	content: '\f154';
}
.icons8-print:before {
	content: '\f155';
}
.icons8-quest:before {
	content: '\f1a2';
}
.icons8-question:before {
	content: '\f191';
}
.icons8-questions:before {
	content: '\f1b5';
}
.icons8-queue:before {
	content: '\f19f';
}
.icons8-quote:before {
	content: '\f18b';
}
.icons8-rating:before {
	content: '\f1c4';
}
.icons8-reading-confirmation:before {
	content: '\f1a8';
}
.icons8-recurring-appointment:before {
	content: '\f156';
}
.icons8-redo:before {
	content: '\f1bd';
}
.icons8-remove-user-male:before {
	content: '\f177';
}
.icons8-renew-subscription:before {
	content: '\f1ac';
}
.icons8-reply:before {
	content: '\f18e';
}
.icons8-report-card:before {
	content: '\f157';
}
.icons8-response:before {
	content: '\f180';
}
.icons8-right:before {
	content: '\f158';
}
.icons8-rotate-left:before {
	content: '\f159';
}
.icons8-rotate-right:before {
	content: '\f15a';
}
.icons8-scan-stock:before {
	content: '\f15b';
}
.icons8-search:before {
	content: '\f15c';
}
.icons8-search-property:before {
	content: '\f12e';
}
.icons8-security-checked:before {
	content: '\f15d';
}
.icons8-services:before {
	content: '\f15e';
}
.icons8-settings:before {
	content: '\f15f';
}
.icons8-shuffle:before {
	content: '\f1bf';
}
.icons8-signature:before {
	content: '\f160';
}
.icons8-sms:before {
	content: '\f192';
}
.icons8-sms-2:before {
	content: '\f193';
}
.icons8-sort:before {
	content: '\f161';
}
.icons8-sort-down:before {
	content: '\f162';
}
.icons8-sort-left:before {
	content: '\f165';
}
.icons8-sort-right:before {
	content: '\f164';
}
.icons8-sort-up:before {
	content: '\f163';
}
.icons8-star:before {
	content: '\f1c6';
}
.icons8-star-2:before {
	content: '\f1fa';
}
.icons8-switch:before {
	content: '\f194';
}
.icons8-talk-male:before {
	content: '\f18a';
}
.icons8-tasks:before {
	content: '\f166';
}
.icons8-timeline:before {
	content: '\f167';
}
.icons8-today:before {
	content: '\f195';
}
.icons8-todo-list:before {
	content: '\f1cc';
}
.icons8-topic:before {
	content: '\f169';
}
.icons8-topic-moved:before {
	content: '\f168';
}
.icons8-track-order:before {
	content: '\f1ce';
}
.icons8-track-order-filled:before {
	content: '\f1cd';
}
.icons8-tree-structure:before {
	content: '\f16e';
}
.icons8-tree-structure-2:before {
	content: '\f16f';
}
.icons8-undo:before {
	content: '\f1be';
}
.icons8-unfriend-male:before {
	content: '\f19d';
}
.icons8-unknown-status:before {
	content: '\f1f5';
}
.icons8-unpin-2:before {
	content: '\f1c7';
}
.icons8-up-right:before {
	content: '\f170';
}
.icons8-upload:before {
	content: '\f1fc';
}
.icons8-urgent-message:before {
	content: '\f182';
}
.icons8-user:before {
	content: '\f174';
}
.icons8-user-folder:before {
	content: '\f171';
}
.icons8-user-group-man-man:before {
	content: '\f172';
}
.icons8-user-group-man-man-2:before {
	content: '\f175';
}
.icons8-user-groups:before {
	content: '\f173';
}
.icons8-vertical-settings-mixer:before {
	content: '\f13c';
}
.icons8-very-popular-topic:before {
	content: '\f16a';
}
.icons8-video-file:before {
	content: '\f179';
}
.icons8-video-message:before {
	content: '\f18d';
}
.icons8-voice-presentation:before {
	content: '\f189';
}
.icons8-why-us-male:before {
	content: '\f1b6';
}
.icons8-workflow:before {
	content: '\f17a';
}
.icons8-zip:before {
	content: '\f17d';
}
